.type-input,
.type-date {
	cursor: pointer;
	background: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #777;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.5;
	box-sizing: border-box;
	width: 100%;
	z-index: 10;
}
